@font-face {
    font-family: 'Hyperspace';
    src: url('fonts/Hyperspace.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyperspace';
    src: url('fonts/Hyperspace\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
canvas {
    border: 2px solid #333;
}
